
{% extends 'blog/index.html'%}
{% load static %}
{% block main_content %}


        <div class="col-12 col-lg-8">
            <div class="row">

                {% for i in allpost %}
                
                <!-- Single Post -->
                <div class="col-12">
                    <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".2s">
                        <!-- Post Thumb -->
                        <div class="post-thumb">
                            <img src="{% static 'blog/img/blog-img/6.jpg' %}" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-meta d-flex">
                                <div class="post-author-date-area d-flex">
                                    <!-- Post Author -->
                                    <div class="post-author">
                                        <a href="#">By Marian</a>
                                    </div>
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">May 19, 2017</a>
                                    </div>
                                </div>
                                <!-- Post Comment & Share Area -->
                                <div class="post-comment-share-area d-flex">
                                    <!-- Post Favourite -->
                                    <div class="post-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 10</a>
                                    </div>
                                    <!-- Post Comments -->
                                    <div class="post-comments">
                                        <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</a>
                                    </div>
                                    <!-- Post Share -->
                                    <div class="post-share">
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- <a href="#"> -->
                                    <a href="{% url 'details' i.pk %}"><h1>{{i.title}}</h1></a>
                                <!-- <h4 class="post-headline">The 10 Best Bars By The Seaside In Blackpool, UK</h4> -->
                            <!-- </a> -->
                            <p>{{i.details|slice:'150'}}</p>
                            <a href="{% url 'details' i.pk %}" class="read-more">Continue Reading..</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Single Post -->
              

              

       

            </div>
        </div>

        <!-- ****** Blog Sidebar ****** -->
      
{% endblock main_content %}