{% extends 'dashboard/index.html'%}
{% block main_content %}
{% load static %}
            <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-10">
                                
                          <!-- Tabs -->
                <div class="card">
                         
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <!-- <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Post list</span></a> </li> -->
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Post List</span></a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabcontent-border">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="p-20">
                                
                                        <div class="card">
                                                <table class="table">
                                                      <thead>
                                                        <tr>
                                                          <th scope="col">ID</th>
                                                          <th scope="col">Title</th>
                                                          <th scope="col">Description</th>
                                                          <th scope="col">Post Date</th>
                                                          <th scope="col">Action</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                          {% for i in allpost %}
                                                        <tr>
                                                          <th scope="row">{{forloop.counter}}</th>
                                                          <td>{{i.title}}</td>
                                                          <td>{{i.details|slice:'10'}}</td>
                                                          <td>{{i.update_date}}</td>
                                                          <td>
                                                              <a href="{% url 'updatepost' i.pk %}">
                                                            <button type="button" class="btn btn-primary btn-sm">View/Edit</button>
                                                              </a>
                                                              <a href="{% url 'deletepost' i.pk %}">
                                                            <button type="button" class="btn btn-primary btn-sm">Delete</button>
                                                            </a>
                                                          </td>
                                                        </tr>
                                                        {% endfor%}
                                                      </tbody>
                                                </table>
                                            </div>
                                          
                                         </div>
                                     </div>            
                                
                                 </div>
                             </div>  
                         </div>
                    </div>     
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
    
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        {% endblock main_content %} 